body {font-family: Arial, Helvetica, sans-serif;}
        
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;}
.item4 { grid-area: section;}
.item5 { grid-area: article;}

body{
    background-color: white;
}
.grid-container {
    grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main main'
    'section section section section section section'
    'article article article article article article';
    gap: 10px;
    padding: 30px;
    }

.grid-container > div {
    text-align: center;
}
nav {
    padding: 1px;
}
ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

li {
    display: inline;
    padding: 20px;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover{
    color: darkgray;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.item1 {
    font-size: 30px;
}
.item2 {
    font-size: 15px;
    padding: 10px;
}
.item3 {
    padding-bottom: 20px;
}
.item4 {
    font-size: 15px;
    text-align: left;
    margin: 60px;
    
}
footer{
    clear: left;
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .column {
    width: 100%;
}
}
@media screen and (max-width: 600px) {
    .column {
    width: 100%;
}
}